
<h2 class="ui center aligned orange large icon header">
  <i class="circular orange keyboard icon"></i>
  Chat-OnRails
</h2>

<div class = "ui two column grid">
  <div class = "four wide column">
    <div class = "chatbox" >

      <div class="ui secondary vertical pointing menu">
        <a class="active item">
                Online Users
              </a>
              <a class="item">
                User 1
              </a>
              <a class="item">
                User 2
              </a>
              <a class="item">
                User 3
              </a>
              <a class="item">
                User 4
              </a>
        </div>
      </div>
  </div>

  
  <div class = "twelve wide column">
    <div class = "ui fluid raised card chatbox">
      <div class = "content">
        <div class="ui feed">
            <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
          <%= form_for(@message, html: { class: "ui form", role: "form" },url: message_path, method: :post) do |f| %>
           <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body %>
              <%= f.button '<i class = "bodered inverted orange edit icon"></i>'.html_safe  %>
             <% end %>
            </div>
          </div>  
      </div>

      
    </div>
  </div>

