    <a class="active item">
          Home
    </a>
    <a class="item">
          Messages
    </a>
    <a class="item">
          Friends
    </a>
    <a class="item">
      <div class="right menu">
        <a class="ui dropdown item">
          My Account <i class="dropdown icon"> </i>
          <div class="menu">
            <div class="item">Danish</div>
            <div class="item">Danish</div>
          </div>
      </div>
    </a>
    <a class = "ui item">
      <button class="ui inverted secondary button">Sign Up</button>
    </a>
